*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

main{
    background-color: #e55c8a;
}
.app-container{
    background-color:#3c424a;
    overflow: auto;
}

#errorMsg{
    display: none;
}

.task.done{
    background: turquoise;
}
.task.done h3{
    text-decoration: line-through;
}

.happyFace{
    animation-name: happyFace;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: yellow;
}



@keyframes happyFace {
    0%{transform:translateY(0);}
    50%{transform:translateY(-.5rem);}
    100%{transform:translateY(0);}
}